nav {
    position: absolute;
    width: 250px;
    height: 947px;
    left: 0px;
    top: 99px;
    background: #FF9243;
}

.section {
    position: absolute;
    width: 200px;
    height: 48px;
    left: 30px;
    top: 210px;    
    /* font-family: Nunito; */
    font-size: 25px;
    line-height: 48px;  
    color: #A939AB;
} 

#btn-new-ord {
    width: 250px;
    height: 70px;
    left: 0px;
    top: 230px;
    border-style: none;
    background: #F3DB85;
}

#logo1 {
    position: static;
    height: 18%;
    padding-left: 43px;
    padding-top: 20px;
}