nav {
    position: absolute;
    width: 260px;
    height: 730px;
    left: 0px;
    top: 99px;
    background: #FF9243;
}
.section {
    position: absolute;
    width: 200px;
    height: 48px;
    left: 30px;
    top: 250px;    
    /* font-family: Nunito; */
    font-size: 25px;
    line-height: 48px;  
    color: #A939AB;
}

#logo1 {
    position: static;
    height: 30%;
    padding-left: 20px;
    padding-top: 10px;
}